<!DOCTYPE html>
<html lang="en-US">
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
<script src="firebase-ui-auth.js"></script>
<link type="text/css" rel="stylesheet" href="firebase-ui-auth.css" />
<script src="firebase.js"></script>
<script src="firebase-auth.js"></script>
<script src="firebase-database.js"></script>

<!-- Connect til firebase database................................................................ -->


<script>
</script>



<body id="jsn">


  <!-- Her starter angular js div............................................................... -->

  <div id="jj" ng-app="myApp" ng-controller="myCtrl">

    <div id="firebaseui-auth-container"> </div>

    <h1>{{ today | date : "EEEE, MMMM d, y"}} - Velkommen {{bruger}} </h1>

    <!--UGE OVERSIGT  -->
    <table border="1" style="width:100%">
      <tr>
        <th style="background-color:{{idag(dag)}}" data-ng-repeat="dag in dage">{{dag}}</th>
      </tr>
      <tr data-ng-repeat="modul in moduler">
        <td data-ng-repeat="dag in dage">{{modul}}</td>
      </tr>
    </table>


    <br />

    <!--TRÆNINGS VALG -->


    <table border="1">
      <tr>
        <th>I DAG (tryk for at slette træning):</th>
        <th>Valg (tryk på valgt træning):</th>
      </tr>

      <tr data-ng-repeat="modul in moduler">
        <td ng-click="sletValg($index)"><span>{{valg[$index]}}</span></td>
        <td ng-click="addValg(modul,$index)"><span>{{modul}}</span></td>
      </tr>

      <tr>
        <td colspan=2 align="right" style="background-color:grey">
          <input ng-model="addMe">
          <button ng-click="addItem()">Add</button>
        </td>
      </tr>

    </table>




  </div>


  <!--ANGULAR MODULE .........................................................................................-->


  <script>
    var app = angular.module("myApp", []);

    // Your web app's Firebase configuration
    var firebaseConfig = {
      apiKey: "AIzaSyBNf-nV7NMvllv8g2gRdQczUAglltmbx7I",
      authDomain: "fitnesswebapp-76ab8.firebaseapp.com",
      databaseURL: "https://fitnesswebapp-76ab8-default-rtdb.firebaseio.com",
      projectId: "fitnesswebapp-76ab8",
      storageBucket: "fitnesswebapp-76ab8.appspot.com",
      messagingSenderId: "901944231738",
      appId: "1:901944231738:web:8e61d151d9eec8cc373203"
    };
    // Initialize Firebase
    firebase.initializeApp(firebaseConfig);

    // Initialize the FirebaseUI Widget using Firebase.
    var ui = new firebaseui.auth.AuthUI(firebase.auth());

    ui.start('#firebaseui-auth-container', {
      // Will use popup for IDP Providers sign-in flow instead of the default, redirect.
      signInFlow: 'popup',
      signInSuccessUrl: 'https://fitnesswebapp.github.io/',
      signInOptions: [
        // List of OAuth providers supported.
        firebase.auth.GoogleAuthProvider.PROVIDER_ID,
      ],
    });


    firebase.auth().onAuthStateChanged(function(user) {
      console.log("hej" + firebase.auth().currentUser.email);
      app.value("bruger", firebase.auth().currentUser.email);
      app = angular.module("myApp", []);

    });


    var ss;





    app.controller("myCtrl", function($scope) {

      $scope.setupfb = function(name) {

      }


      $scope.dage = [firebase.appId, "Monday", "Tuesday", "Wednesday", "Thursday", "Friday", "Saturday"];

      $scope.moduler = ["mave - 10min", "bryst", "lår", "ro", "ryg", "boks", "løb"];

      $scope.valg = [];

      $scope.today = new Date();


      firebase.database().ref("moder").once('value').then(function(data) {
        //henter fra firebase - og viser med det vuns!!
        var scope = angular.element(document.getElementById('jj')).scope();
        scope.bruger =  firebase.auth().currentUser.email;
        scope.$apply();
      });



      $scope.idag = function(dag) {
        let d = new Date();
        return dag == $scope.dage[d.getDay()] ? "lightgreen" : "lightblue";
      }



      $scope.addValg = function(valg, index) {
        $scope.valg[index] = valg;

        var month = $scope.today.getUTCMonth() + 1; //months from 1-12
        var day = $scope.today.getUTCDate();
        var year = $scope.today.getUTCFullYear();

        firebase.database().ref(day + "-" + month + "-" + year).update({
          [valg]: "x"
        });

      }

      $scope.sletValg = function(index) {
        valg = $scope.valg[index];

        var month = $scope.today.getUTCMonth() + 1; //months from 1-12
        var day = $scope.today.getUTCDate();
        var year = $scope.today.getUTCFullYear();

        firebase.database().ref(day + "-" + month + "-" + year).update({
          [valg]: ""
        });

        $scope.valg[index] = "";



      }




    });
  </script>


</body>

</html>
