<!DOCTYPE html>
<html lang="en-US">
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
<script src="firebase-ui-auth.js"></script>
<link type="text/css" rel="stylesheet" href="firebase-ui-auth.css" />
<script src="firebase.js"></script>
<script src="firebase-auth.js"></script>
<script src="firebase-database.js"></script>

<!-- Connect til firebase database................................................................ -->

<script></script>

<body id="jsn">
  <!-- Her starter angular js div............................................................... -->

  <div id="jj" ng-app="myApp" ng-controller="myCtrl">
    <div id="firebaseui-auth-container"></div>

    <h1>{{ today | date : "EEEE d-M-y"}} - Velkommen {{bruger}}</h1>

    <!--UGE OVERSIGT  -->
    <table border="1" style="width: 100%">
      <tr data-ng-repeat="dag_obj in dagsliste">
        <th style="background-color:{{idag(dag_obj.dag)}}">{{dag_obj.dag}}</th>
        <td data-ng-repeat="modul in aktivitetsliste">{{modul}}</td>
      </tr>
    </table>

    <br />

    <!--TRÆNINGS VALG -->

    <table border="1">
      <tr>
        <th>I DAG (tryk for at slette træning):</th>
        <th>Valg (tryk på valgt træning):</th>
      </tr>

      <tr data-ng-repeat="modul in moduler">
        <td ng-click="sletValg($index)"><span>{{valg[$index]}}</span></td>
        <td ng-click="addValg(modul,$index)"><span>{{modul}}</span></td>
      </tr>

      <tr>
        <td colspan="2" align="right" style="background-color: grey">
          <input ng-model="addMe" />
          <button ng-click="addItem()">Add</button>
        </td>
      </tr>
    </table>
  </div>

  <!--ANGULAR MODULE .........................................................................................-->

  <script>
    var app = angular.module("myApp", []);

    // Your web app's Firebase configuration
    var firebaseConfig = {
      apiKey: "AIzaSyBNf-nV7NMvllv8g2gRdQczUAglltmbx7I",
      authDomain: "fitnesswebapp-76ab8.firebaseapp.com",
      databaseURL: "https://fitnesswebapp-76ab8-default-rtdb.firebaseio.com",
      projectId: "fitnesswebapp-76ab8",
      storageBucket: "fitnesswebapp-76ab8.appspot.com",
      messagingSenderId: "901944231738",
      appId: "1:901944231738:web:8e61d151d9eec8cc373203",
    };
    // Initialize Firebase
    firebase.initializeApp(firebaseConfig);

    // Initialize the FirebaseUI Widget using Firebase.
    var ui = new firebaseui.auth.AuthUI(firebase.auth());

    ui.start("#firebaseui-auth-container", {
      // Will use popup for IDP Providers sign-in flow instead of the default, redirect.
      signInFlow: "popup",
      signInSuccessUrl: "http://0.0.0.0:8000/", // 'https://fitnesswebapp.github.io/',
      signInOptions: [
        // List of OAuth providers supported.
        firebase.auth.GoogleAuthProvider.PROVIDER_ID,
      ],
    });

    firebase.auth().onAuthStateChanged(function (user) {
      app.value("bruger", firebase.auth().currentUser.email);
      var scope = angular.element(document.getElementById("jj")).scope();
      scope.bruger = firebase.auth().currentUser.email;

      scope.dagsliste     = [];
      scope.dagsliste[0] = {dag:"3-7-2021", aktiviteter:["boks","hop","mave"]};
      scope.dagsliste[1] = {dag:"4-7-2021", aktiviteter:["boks1","run","hop","arm","mave"]};
      scope.dagsliste[2] = {dag:"5-7-2021", aktiviteter:["boks","run1","hop","arm","mave"]};
      scope.dagsliste[3] = {dag:"6-7-2021", aktiviteter:["boks","run","hop1","arm","mave"]};

      scope.aktivitetsliste = ["boks","run","hop1","arm","mave"];
      /*
      firebase.database().ref('/').limitToLast(10).once('value', (snapshot) => {
snapshot.forEach((childSnapshot) => {
  console.log(childSnapshot.key + " " + childSnapshot.val());
  childSnapshot.forEach((ccSnap)=>{
      console.log(ccSnap.key + " " + ccSnap.val());
  });
});
});

*/
      scope.$apply();
    });

    app.controller("myCtrl", function ($scope) {
      $scope.setupfb = function (name) { };

      $scope.dage = [
        firebase.appId,
        "Monday",
        "Tuesday",
        "Wednesday",
        "Thursday",
        "Friday",
        "Saturday",
      ];

      $scope.moduler = [
        "mave - 10min",
        "bryst",
        "lår",
        "ro",
        "ryg",
        "boks",
        "løb",
      ];

      $scope.valg = [];

      $scope.today = new Date();

      $scope.idag = function (dag) {
        let d = new Date();
        
        var month = $scope.today.getUTCMonth() + 1; //months from 1-12
        var day = $scope.today.getUTCDate();
        var year = $scope.today.getUTCFullYear();

        var dagTekst = day+"-"+month+"-"+year;

        console.log(dagTekst + " " + dag);

        return dag == dagTekst? "lightgreen" : "lightblue";
      };

      $scope.addValg = function (valg, index) {
        $scope.valg[index] = valg;

        var month = $scope.today.getUTCMonth() + 1; //months from 1-12
        var day = $scope.today.getUTCDate();
        var year = $scope.today.getUTCFullYear();

        firebase
          .database()
          .ref(day + "-" + month + "-" + year)
          .update({
            [valg]: "x",
          });
      };

      $scope.sletValg = function (index) {
        valg = $scope.valg[index];

        var month = $scope.today.getUTCMonth() + 1; //months from 1-12
        var day = $scope.today.getUTCDate();
        var year = $scope.today.getUTCFullYear();

        firebase
          .database()
          .ref(day + "-" + month + "-" + year)
          .update({
            [valg]: "",
          });

        $scope.valg[index] = "";
      };
    });
  </script>
</body>

</html>