<!DOCTYPE html>
<html lang="en-US">
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
<script src="firebase-ui-auth.js"></script>
<link type="text/css" rel="stylesheet" href="firebase-ui-auth.css" />
<script src="firebase.js"></script>
<script src="firebase-auth.js"></script>
<script src="firebase-database.js"></script>

<!-- Connect til firebase database................................................................ -->

<script></script>

<body id="jsn">
  <!-- Her starter angular js div............................................................... -->

  <div id="jj" ng-app="myApp" ng-controller="myCtrl">
    <div id="firebaseui-auth-container"></div>

    <h1>{{ today | date : "EEEE d-M-y"}} - Velkommen {{bruger}}</h1>

    <!--UGE OVERSIGT  -->
    <table border="1" style="width: 100%">
      <tr data-ng-repeat="dag_obj in dagsliste">
        <th style="background-color:{{idag(dag_obj.dag)}}">{{dag_obj.dag}}</th>
        <td data-ng-repeat="modul in aktivitetsliste">{{modul}}</td>
      </tr>
    </table>

    <br />

    <!--TRÆNINGS VALG -->

    <table border="1">
      <tr>
        <th>I DAG (tryk for at slette træning):</th>
        <th>Valg (tryk på valgt træning):</th>
      </tr>

      <tr data-ng-repeat="modul in moduler">
        <td ng-click="sletValg($index)"><span>{{valg[$index]}}</span></td>
        <td ng-click="addValg(modul,$index)"><span>{{modul}}</span></td>
      </tr>

      <tr>
        <td colspan="2" align="right" style="background-color: grey">
          <input ng-model="addMe" />
          <button ng-click="addItem()">Add</button>
        </td>
      </tr>
    </table>
  </div>

  <!--ANGULAR MODULE .........................................................................................-->

  <script>
    var app = angular.module("myApp", []);
</script>

<script type="text/javascript" src="firebase_initialize.js"></script>
<script type="text/javascript" src="angular_controller.js"></script>

  
</body>



</html>